USE [aaa1]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 05.06.2026 3:51:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[AuthorID] [int] IDENTITY(1,1) NOT NULL,
	[AuthorName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 05.06.2026 3:51:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[BookTitle] [nvarchar](50) NOT NULL,
	[AuthorID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Copies]    Script Date: 05.06.2026 3:51:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Copies](
	[CopyID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NOT NULL,
	[CopyCondition] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CopyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 05.06.2026 3:51:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loans]    Script Date: 05.06.2026 3:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loans](
	[LoanID] [int] IDENTITY(1,1) NOT NULL,
	[CopyID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[LoanDate] [datetime2](7) NOT NULL,
	[ReturnDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[LoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 05.06.2026 3:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[TokenId] [uniqueidentifier] NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[ExpiresUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[TokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([AuthorID], [AuthorName]) VALUES (5, N'Capek')
INSERT [dbo].[Authors] ([AuthorID], [AuthorName]) VALUES (3, N'Nemcova')
INSERT [dbo].[Authors] ([AuthorID], [AuthorName]) VALUES (6, N'Vrchlicky')
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookID], [BookTitle], [AuthorID]) VALUES (1, N'Babicka', 3)
INSERT [dbo].[Books] ([BookID], [BookTitle], [AuthorID]) VALUES (2, N'R.U.R.', 5)
INSERT [dbo].[Books] ([BookID], [BookTitle], [AuthorID]) VALUES (3, N'Valka s Mloky', 5)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Copies] ON 

INSERT [dbo].[Copies] ([CopyID], [BookID], [CopyCondition]) VALUES (1, 1, N'new')
INSERT [dbo].[Copies] ([CopyID], [BookID], [CopyCondition]) VALUES (2, 1, N'new')
INSERT [dbo].[Copies] ([CopyID], [BookID], [CopyCondition]) VALUES (3, 1, N'old')
SET IDENTITY_INSERT [dbo].[Copies] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [CustomerName]) VALUES (1, N'Pepa')
INSERT [dbo].[Customers] ([CustomerID], [CustomerName]) VALUES (2, N'Franta')
INSERT [dbo].[Customers] ([CustomerID], [CustomerName]) VALUES (3, N'Alice')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Loans] ON 

INSERT [dbo].[Loans] ([LoanID], [CopyID], [CustomerID], [LoanDate], [ReturnDate]) VALUES (1, 1, 1, CAST(N'2025-03-20T00:00:00.0000000' AS DateTime2), CAST(N'2025-06-05T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Loans] ([LoanID], [CopyID], [CustomerID], [LoanDate], [ReturnDate]) VALUES (2, 5, 1, CAST(N'2025-03-20T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Loans] ([LoanID], [CopyID], [CustomerID], [LoanDate], [ReturnDate]) VALUES (3, 2, 2, CAST(N'2025-03-30T00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Loans] OFF
GO
INSERT [dbo].[RefreshTokens] ([TokenId], [UserName], [ExpiresUtc]) VALUES (N'675b4b69-9837-40bf-b7c1-2f1ddcf983d9', N'admin', CAST(N'2026-06-01T18:31:12.7133333' AS DateTime2))
INSERT [dbo].[RefreshTokens] ([TokenId], [UserName], [ExpiresUtc]) VALUES (N'7d063e94-626a-4990-9f6a-58b97782fd36', N'admin', CAST(N'2026-04-16T23:53:06.6966667' AS DateTime2))
INSERT [dbo].[RefreshTokens] ([TokenId], [UserName], [ExpiresUtc]) VALUES (N'5a600494-7ddb-4463-ad72-9dd996016005', N'admin', CAST(N'2026-04-16T23:52:11.9466667' AS DateTime2))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UniqueAuthorName]    Script Date: 05.06.2026 3:51:50 ******/
ALTER TABLE [dbo].[Authors] ADD  CONSTRAINT [UniqueAuthorName] UNIQUE NONCLUSTERED 
(
	[AuthorName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Authors] ([AuthorID])
GO
ALTER TABLE [dbo].[Copies]  WITH CHECK ADD FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[Loans]  WITH CHECK ADD FOREIGN KEY([CopyID])
REFERENCES [dbo].[Copies] ([CopyID])
GO
ALTER TABLE [dbo].[Loans]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
